@import 'tailwindcss';

html,
body,
#root {
    height: 100%;
    width: 100%;
}

.app {
    overflow: hidden;
}

.my-scrollbox {
    overflow-y: auto;
    padding-right: 3px;
}

.my-scrollbox::-webkit-scrollbar {
    width: 8px;
}

.my-scrollbox::-webkit-scrollbar-track {
    background: transparent;
}

.my-scrollbox::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 9999px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.my-scrollbox::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.my-scrollbox {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}
